* {
    padding: 0;
    margin: 0;
  }
  
  canvas {
    display: block;
    background: black;
  }

  nav{
      background-color: red;
      width: 100%;
      height: 65px;

  }

  a[href="#shoes"] {
    width: 250px;
    height: 250px;
    background-image: url("../img/icons/icons8-baskets-64\ \(1\).png")!important;
    display: block;
    background-repeat: no-repeat;
  }