* {
    padding: 0;
    margin: 0;

  }

  /* baground header, body plus animation bordure  */
  body
  {
    width: 100%;
    background: linear-gradient(180deg, #01012A 50%, #300955 50%), linear-gradient(180deg, #01012A 50%, #300955 50%), linear-gradient(0deg, #01012A 50%, #300955 50%), linear-gradient(0deg, #01012A 50%, #300955 50%);
    background-size: 400px 4px, 400px 4px, 4px 400px, 4px 400px;
  }
  nav{
      width: 100%;
      height: 120px;
      background: linear-gradient(90deg, yellow 25%, violet 25%, blue 25%, red 25%), linear-gradient(90deg, yellow 25%, violet 25%, blue 25%, red 25%), linear-gradient(0deg, yellow 25%, violet 25%, blue 25%, red 25%), linear-gradient(0deg, yellow 25%, violet 25%, blue 25%, red 25%);
      background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
      background-size: 20px 4px, 20px 4px, 4px 20px, 4px 20px;
      background-position: 0px 0px, 100% 100%, 0px 100px, 100% 0px;
      animation: border-dance 8s infinite linear;
      background-color: #01012A !important;
    }
    @keyframes border-dance {
      0% {
        background-position: 0px 0px, 300px 116px, 0px 150px, 100% 0px;
      }
      100% {
        background-position: 300px 0px, 0px 116px, 0px 0px, 100% 150px;
      }
    }

    .border_yellow:hover
    {
        width: auto;
        height: auto;
        background: linear-gradient(90deg, yellow 50%, red 50%), linear-gradient(90deg, yellow 50%, red 50%), linear-gradient(0deg, yellow 50%, red 50%), linear-gradient(0deg, yellow 50%, red 50%);
        background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
        background-size: 50px 4px, 50px 4px, 4px 50px, 4px 50px;
        background-position: 0px 0px, 100% 100%, 0px 100px, 100% 0px;
        animation: border-dance 8s infinite linear;
        background-color: #01012A !important;
      }
      @keyframes border-dance {
        0% {
          background-position: 0px 0px, 300px 116px, 0px 150px, 100% 0px;
        }
        100% {
          background-position: 300px 0px, 0px 116px, 0px 0px, 100% 150px;
        }
    }
/* fin baground header, body plus animation bordure  */

    /* icone  de navigation  */
  a[href="#"] {
    background-size: contain;
    width: 450px;
    height: 110px;
    margin-top: 50px;
    background-image: url("https://fontmeme.com/permalink/200515/e8397339c9318d69242faad300b1d371.png")!important;
    background-repeat: no-repeat;
  }

  a[href="#shoes"] {
    background-size: contain;
    width: 80px;
    height: 80px;
    top: 5px;
    background-image: url("../img/icons/icons8-baskets-64\ \(1\).png")!important;
  
    background-repeat: no-repeat;
  }
  a[href="#tee-shirt"] {
    background-size: contain;
    width: 80px;
    height: 80px;
    background-image: url("../img/icons/icons8-t-shirt-48.png")!important;

    background-repeat: no-repeat;
  }
  a[href="#sweat"] {
    background-size: contain;
    width: 80px;
    height: 80px;
    background-image: url("../img/icons/icons8-veste-48.png")!important;

    background-repeat: no-repeat;
  }

  a[href="#accessories"] {
    background-size: contain;
    width: 80px;
    height: 80px;
    background-image: url("../img/icons/icons8-casquette-de-baseball-48.png")!important;
    
    background-repeat: no-repeat;
  }
  a[href="#art-print"] {
    background-size: contain;
    width: 80px;
    height: 80px;
    background-image: url("../img/icons/icons8-chevalet-48.png")!important;

    background-repeat: no-repeat;
  }
  a[href="#nous_contacter"] {
    background-size: contain;
    width: 80px;
    height: 80px;
    background-image: url("../img/icons/icons8-assistant-100.png")!important;
   
    background-repeat: no-repeat;
    
  }
  nav{
    display: flex !important;
    flex-direction: row;

  }
  a,ul{
   margin-right: 70px;
    /* margin-top: 20px; */
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;

}

ul{
  position: absolute;
  left: 45%;
}
/* fin iconne de navigation  */

/* annimationiconne de  navigations */
a[href="#shoes"],a[href="#sweat"],a[href="#tee-shirt"],a[href="#accessories"],a[href="#art-print"],a[href="#nous_contacter"]
{
  transform: scaleX(-1);


 animation:spin-reverse 2s infinite linear;
  }
  @keyframes spin-reverse {
  0% {
  transform: scaleX(-1) rotate(-30deg);
  }
  25%
  {
    transform: scaleX(-1) rotate(-15deg);
  }
  50%
  {
    transform: scaleX(-1) rotate(15deg);
  }
  100% {
  transform: scaleX(-1) rotate(-30deg);
  }
}
/* fin de lannimation des icone */

.bg-image
{
  background-image: url("../img/GEEK-WEARS/Rectangle\ 3@2x.png");
  background-repeat: no-repeat;
 
  background-size: auto;
  background-position: center;
}
.bg-img
{
  background-image: url("../img/GEEK-WEARS/Rectangle\ 4@2x.png");
}

.rotate
{
  rotate: 270deg;
}